@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #29292b;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #29292b;
}

button:focus-visible,
input:focus-visible {
  outline: 2px solid #000043;
  outline-offset: 2px;
}
