MB_DB_TYPE=postgres
MB_DB_HOST=79.174.88.146
MB_DB_PORT=19051
MB_DB_DBNAME=metabase_prod
MB_DB_USER=metabase_app
MB_DB_PASS=REPLACE_WITH_STRONG_PASSWORD
MB_PASSWORD_COMPLEXITY=strong
MB_PASSWORD_LENGTH=12
